<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>מעקב טיפול רפואי בכלבי עמותת כלבלאב מונגודיבי</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="public/style.css">
    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-touch.js"></script>
    <script src="JS/ui-bootstrap-tpls-3.0.6.min.js"></script>
    <script src="public/controller.js"></script>
</head>

<body ng-app="dogsMed" dir="rtl">
    <div class="container" ng-controller="AppCtrl">
        <h1 class="my-3 text-center">מעקב טיפול רפואי בכלבי עמותת כלבלאב מונגודיבי</h1>

        <form action="">
            <div class="row">
                <div class="p-1 bg-light border mb-4 col-sm-4">
                    <div class="input-group">
                        <input type="search" placeholder="חיפוש כלב לפי שם" aria-describedby="button-addon1"
                            class="form-control border-0 bg-light" ng-model="dogSearch" ng-keypress="showResults=true">
                        <div class="input-group-append">
                            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 my-1">
                    <button class="btn btn-lg btn-outline-warning" ng-click="clear()">ניקוי</button>
                </div>
                <div class="col-sm-2 my-1">
                    <button class="btn btn-lg btn-outline-secondary" ng-click="activateFilterPuppies()">גורים עד גיל חצי שנה</button>
                </div>
            </div>
        </form>

        <form>
            <div class="border">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="row mx-auto">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="dog-name"><span class="font-weight-bold">שם הכלב</span></label>
                                    <input type="text" class="form-control" id="dog-name" ng-model="dog.name">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="dog-number"><span class="font-weight-bold">מס' בכלבייה</span></label>
                                    <input type="text" class="form-control" id="dog-number" ng-model="dog.num">
                                </div>
                            </div>

                            <div class="col-sm-6"><span class="font-weight-bold">סטטוס</span>
                                <div class="form-check my-3">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="dog-status" value="בכלבייה"
                                            ng-model="dog.status">בכלבייה
                                    </label>
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="dog-status" value="באומנה"
                                            ng-model="dog.status">באומנה
                                    </label>
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="dog-status"
                                            value='באומנה למטרת אימוץ' ng-model="dog.status">באל"מ
                                    </label>
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="dog-status" value="אומצ/ה"
                                            ng-model="dog.status">אומצ\ה
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mx-auto">
                            <div class="col-sm-3"><span class="font-weight-bold">מין</span>
                                <div class="form-check my-2">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="dog-gender" value="זכר"
                                            ng-model="dog.gender">זכר
                                    </label>
                                    <label class="form-check-label left">
                                        <input type="radio" class="form-check-input" name="dog-gender" value="נקבה"
                                            ng-model="dog.gender">נקבה
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-2"><span class="font-weight-bold">גזע</span>
                                <input type="text" class="form-control" id="dog-breed" ng-model="dog.breed">
                            </div>
                            <div class="col-sm-2"><span class="font-weight-bold">גודל סופי</span>
                                <select ng-model="dog.size" class="form-control"
                                    ng-options="size for size in sizes"></select>
                            </div>
                            <div class="col-sm-3"><span class="font-weight-bold">שבב</span>
                                <input type="text" class="form-control" id="dog-chip" ng-model="dog.chip"
                                    placeholder="15 ספרות בדיוק" pattern="[0-9]{15}">
                            </div>
                        </div>

                        <div class="row mx-auto">
                            <div class="col-sm-4"><span class="font-weight-bold">תאריך לידה</span>
                                <input type="text" placeholder="dd/mm/yy" class="form-control" id="dog-birthday"
                                    ng-model="dog.birthday">
                            </div>
                            <div class="col-sm-4"><span class="font-weight-bold">עיקור</span>
                                <input type="text" placeholder="dd/mm/yy" class="form-control" id="dog-neuter"
                                    ng-model="dog.neuter">
                            </div>
                            <div class="col-sm-4"><span class="font-weight-bold">כלבת</span>
                                <input type="text" placeholder="dd/mm/yy" class="form-control" id="dog-rabbies"
                                    ng-model="dog.rabbies">
                            </div>
                        </div>

                        <div class="row mx-auto">
                            <div class="col-sm-4"><span class="font-weight-bold">משושה 1</span>
                                <input type="text" placeholder="dd/mm/yy" class="form-control" id="dog-distemper1"
                                    ng-model="dog.distemper1">
                            </div>
                            <div class="col-sm-4"><span class="font-weight-bold">משושה 2</span>
                                <input type="text" placeholder="dd/mm/yy" class="form-control" id="dog-distemper2"
                                    ng-model="dog.distemper2">
                            </div>
                            <div class="col-sm-4"><span class="font-weight-bold">משושה 3</span>
                                <input type="text" placeholder="dd/mm/yy" class="form-control" id="dog-distemper3"
                                    ng-model="dog.distemper3">
                            </div>
                        </div>

                        <div class="row mx-auto">
                            <span class="font-weight-bold">פרטי מאמץ</span>
                            <input type="text" class="form-control" id="dog-descrip" ng-model="dog.adopter">
                        </div>

                        <div class="row mx-auto">
                            <span class="font-weight-bold">פרטי אומנה</span>
                            <input type="text" class="form-control" id="dog-descrip" ng-model="dog.foster">
                        </div>

                        <div class="row mx-auto">
                            <span class="font-weight-bold">תיאור</span>
                            <input type="text" class="form-control" id="dog-descrip" ng-model="dog.descrip">
                        </div>

                        <div class="row mx-auto">
                            <span class="font-weight-bold">הערות</span>
                            <label for="comments"></label>
                            <textarea class="form-control" name="comments" id="comments" rows="2"
                                ng-model="dog.comments"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-2 mx-auto">
                        <div class="row my-3">
                            <button class="btn btn-lg btn-outline-info" ng-click="addDog()">הוספת כלב חדש</button>
                        </div>
                        <div class="row my-3">
                            <button class="btn btn-lg btn-outline-success" ng-click="update(dog._id)">שמירה</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dog-list">
                <uib-accordion close-others="true">
                    <div uib-accordion-group class="mt-1"
                        ng-repeat="dog in dogs | orderBy: '-_id' | filter: filterByName | filter: filterPuppies">
                        <!-- | puppiesFilter: isFilterActive -->
                        <!-- filter: (!disableFilter || '') && filterExpression -->
                        <uib-accordion-heading>
                            <div class="row">
                                <div class="col-md-2 my-auto">
                                    <button class="btn btn-outline-dark" ng-click="edit(dog._id)">עריכה</button>
                                </div>
                                <div class="col-md-2">{{dog.name}}</div>
                                <div class="col-md-2">{{dog.gender}}</div>
                                <div class="col-sm">{{dog.breed}}</div>
                                <div class="col-md-2">{{dog.num}}</div>
                                <div class="col-md-2 my-auto">
                                    <button class="btn btn-outline-danger" ng-click="remove(dog._id)">הסרה</button>
                                </div>
                            </div>
                        </uib-accordion-heading>
                        <div ng-hide="!dog.gender"><span class="font-weight-bold">מין: </span>{{dog.gender}}</div>
                        <div ng-hide="!dog.birthday"><span class="font-weight-bold">גיל: </span>{{dog.birthday | ageFilter}}</div>
                        <div ng-hide="!dog.birthday"><span class="font-weight-bold">תאריך לידה: </span>{{dog.birthday}}</div>
                        <div ng-hide="!dog.status"><span class="font-weight-bold">סטטוס: </span>{{dog.status}}</div>
                        <div ng-hide="!dog.chip"><span class="font-weight-bold">שבב: </span>{{dog.chip}}</div>
                        <div ng-hide="!dog.breed"><span class="font-weight-bold">גזע: </span>{{dog.breed}}</div>
                        <div ng-hide="!dog.size"><span class="font-weight-bold">גודל: </span>{{dog.size}}</div>
                        <div ng-hide="!dog.neuter"><span class="font-weight-bold">עיקור: </span>{{dog.neuter}}</div>
                        <div ng-hide="!dog.rabbies"><span class="font-weight-bold">כלבת: </span>{{dog.rabbies}}</div>
                        <div ng-hide="!dog.distemper1"><span class="font-weight-bold">משושה 1: </span>{{dog.distemper1}}</div>
                        <div ng-hide="!dog.distemper2"><span class="font-weight-bold">משושה 2: </span>{{dog.distemper2}}</div>
                        <div ng-hide="!dog.distemper3"><span class="font-weight-bold">משושה 3: </span>{{dog.distemper3}}</div>
                        <div ng-hide="!dog.descrip"><span class="font-weight-bold">תיאור: </span>{{dog.descrip}}</div>
                        <div ng-hide="!dog.adopter"><span class="font-weight-bold">מאמצים: </span>{{dog.adopter}}</div>
                        <div ng-hide="!dog.foster"><span class="font-weight-bold">תיאור: </span>{{dog.foster}}</div>
                        <div ng-hide="!dog.comments"><span class="font-weight-bold">הערות: </span>{{dog.comments}}</div>
                    </div>
                </uib-accordion>
            </div>
        </form>
    </div>
</body>

</html>